*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/output-metadata.json
app/release/baselineProfiles/1/app-release.dm
app/release/baselineProfiles/0/app-release.dm
app/release/app-release.apk
app/release/app-release.aab
.idea/runConfigurations.xml
.idea/misc.xml
.idea/migrations.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
.idea/compiler.xml
.idea/appInsightsSettings.xml
.idea/AndroidProjectSystem.xml
app/proguard-rules.pro
app/src/main/java/com/steph/reminder/app-ads.txt
gradle/libs.versions.toml
app/src/test/java/com/steph/reminder/ExampleUnitTest.kt
app/src/androidTest/java/com/steph/reminder/ExampleInstrumentedTest.kt
app/google-services.json
app/src/main/res/values/sensitive_strings.xml
app/src/main/res/values/sensitive_strings.xml
